@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/animations";

.people-dropdown {
  position: relative;
  @include flex(space-between);
  gap: 0.5rem;
  &__summary {
    @include btn-styling;
    & {
      width: 60%;
      max-width: 18.75rem;
      border-radius: 4px;
      height: 2.5rem;
      text-align: center;
      cursor: pointer;
    }
  }
  &__container {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 0.5rem;
    text-align: left;
    color: $secondary-color;
    background-color: $secondary-background-color;
    box-shadow: $primary-background-btn-color 0 15px 30px -5px;
    border: 1px solid $border-color;
    border-radius: 5px;
    z-index: 1;
  }
  &__control {
    @include flex(space-between);
    margin-bottom: 10px;
  }
  &__label {
    flex: 1;
  }
  &__action {
    @include btn-styling;
    & {
      padding: 0.3rem;
      border-radius: 50%;
      font-size: 1.25rem;
      cursor: pointer;
      min-width: unset;
      max-width: unset;
      width: 2rem;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  &__input {
    width: 20%;
    text-align: center;
    border: none;
    background-color: $secondary-background-color;
  }
}
