@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main--share-plan {
  padding-bottom: 1rem;
}

.share-plan {
  &__header-container{
    @include flex(center);
    flex-direction: column;
    gap: 0.5rem;

  }
  &__title {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $border-color;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  &__form-container {
    width: 100%;
    @include flex(flex-start);
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    border: 1px solid $secondary-background-color;
    border-radius: 8px;
    background-color: $secondary-background-color;
  }

}

// Loading overlay
.loader-overlay {
  @include flex(center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($primary-color, 0.9);
  z-index: 1000;
}