@font-face {
  font-family: "News Reader";
  src: url("./assets/fonts/woff/Newsreader-Regular.woff") format("woff"),
    url("./assets/fonts/woff2/Newsreader-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
