@use "./variables" as *;
@use "./animations" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin background-center-img($url, $contain: unset) {
  background-image: url($url);
  background-position: center;
  background-size: $contain;
  background-repeat: no-repeat;
}

@mixin btn-styling {
  background-color: $primary-background-btn-color;
  color: $primary-btn-color;
  box-shadow: $primary-background-btn-color 0 15px 30px -5px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  max-width: 100%;
  min-width: 7rem;
  height: 2rem;
  padding: calc($min-padding/2);
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;

  @include flex(center);
  @include tablet {
    min-width: 12.5rem;
  }

  &:hover {
    background-color: $border-color;
  }
}
