$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$primary-color: #f8f5f9;
$primary-background-color: #6e4176;

$secondary-color: #0b060d;
$secondary-background-color: #cdacd2;

$primary-btn-color: #f8f5f9;
$primary-background-btn-color: #5d1376;

$border-color: #510b68;

$light-color: #d25ded;

$min-padding: 0.5rem;

$title-fonts: "Montserrat", Arial, Helvetica, sans-serif;
$body-fonts: "Karla", Arial, Helvetica, sans-serif;
