$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$primary-color: #f8f5f9;
$primary-background-color: #6e4176;

$secondary-color: #5d1376;
$secondary-background-color: #cdacd2;

$primary-btn-color: #f8f5f9;
$primary-background-btn-color: #5d1376;

$border-color: #510b68;
$border-radius: 20px;

$light-color: #d25ded;

$color-error: #721c24;
$color-background-error: #f8d7da;
$color-border-error: #f5c6cb;

$color-success: #155724;
$color-background-success: #d4edda;
$color-border-success: #c3e6cb;

$min-padding: 0.5rem;

$title-fonts: "Montserrat", Arial, Helvetica, sans-serif;
$body-fonts: "Karla", Arial, Helvetica, sans-serif;
