$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$primary-color: #0c1e1a;
$primary-background-color: #effaf7;

$secondary-color: #ffffff;
$secondary-background-color: #e4efec;

$primary-btn-color: #1e6655;
$primary-background-btn-color: #ffffff;

$primary-optional-color: #b7cec9;
$primary-background-optional-color: #ffffff;

$border-color: #b7cec9;

$min-padding: 0.5rem;
