@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/animations";

.main {
  min-height: 90vh;
  @include flex(space-around);
  flex-direction: column;
  gap: 2rem;
  max-width: 67.5rem;
  padding: 1rem;
}
.plan-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  &__subtitle {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    margin: 0.5rem 0 0;
    padding: 0;
  }
  & button.plan-container__create-plan-btn {
    background-color: $secondary-background-color;
    color: $secondary-color;
  }
  &__message {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    &--success {
      background-color: $color-background-success;
      color: $color-success;
      border: 1px solid $color-border-success;
    }
    &--error {
      background-color: $color-background-error;
      color: $color-error;
      border: 1px solid $color-border-error;
    }
  }
}
.dates {
  &-container {
    @include btn-styling;
    & {
      @include flex(start);
      gap: 1rem;
      width: 100%;
      height: unset;
      border-radius: 4px;
    }
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    & * {
      stroke: $primary-color;
    }
  }
}

.react-responsive-modal {
  &-modal {
    min-height: 80%;
    max-height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 60%;
    left: 0;
    padding: 5rem 1rem;

    &--save-trip {
      top: 50%;
    }
    &--dates {
      top: 20%;
    }
  }
}
