@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.dropdown {
  position: relative;

  &__selection {
    @include btn-styling;
    & {
      @include flex(space-around);
    }
  }

  &__options {
    position: absolute;
    overflow: hidden;
    top: 100%;
    background-color: $secondary-background-color;
    color: $secondary-color;
    box-shadow: $primary-background-btn-color 0 15px 30px -5px;
    border-radius: 5px;
    min-width: 9rem;
    z-index: 1;
    @include tablet {
      min-width: 12.5rem;
    }
  }
  &__item {
    padding: $min-padding;

    &:hover {
      background-color: #c3a3c7;
    }
  }
}
