@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.dropdown {
  position: relative;

  &__selection {
    @include btn-styling;
    & {
      width: 100%;
      background-color: $secondary-background-color;
      color: $secondary-color;
      @include flex(space-around);

      svg{
        width: 1.5rem;
        height: 1.5rem;
        path {
          fill: $secondary-color;
          stroke: $secondary-color;
        }
      } 
    }
  }

  &__options {
    position: absolute;
    overflow: hidden;
    top: 100%;
    width: 100%;
    background-color: $secondary-background-color;
    color: $secondary-color;
    box-shadow: $primary-background-btn-color 0 15px 30px -5px;
    border-radius: 5px;
    min-width: 9rem;
    z-index: 2;
    @include tablet {
      min-width: 12.5rem;
    }
  }
  &__item {
    padding: $min-padding;

    &:hover {
      background-color: #c3a3c7;
    }

    &--selected{
      background-color: $primary-background-color;
      color: $primary-color;
    }
  }
}
