@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.dropdown {
  position: relative;

  &__btn {
    padding: $min-padding;
    border-radius: 20px;
    background: #f2f4f8;

    @include flex(space-around);
  }

  &__options {
    position: absolute;
    top: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    z-index: 1;
  }
  &__item {
    padding: 8px;

    &:hover {
      background: #e0e0e0;
    }
  }
}
