@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/animations";
.header {
  @include flex(space-between);
  padding: $min-padding;
  height: 8vh;

  @include tablet {
    height: 10vh;
  }

  &__logo {
    width: 100%;
    &-link {
      display: block;
      max-width: 6.25rem;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      padding: $min-padding;
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
    & * {
      fill: $primary-color;
      stroke: $primary-color;
    }
  }
}

@supports (height: 100dvh) {
  .header {
    height: 8dvh;

    @include tablet {
      height: 10dvh;
    }
  }
}
