@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/animations";
.header {
  @include flex(space-between);
  padding: $min-padding;
  height: 8vh;

  @include tablet {
    height: 10vh;
  }

  &__logo {
    width: 100%;
    &-link {
      display: block;
      position: absolute;
      margin: 0 auto;
      max-width: 6.25rem;
      left: 50%;
      transform: translateX(-50%);
      padding: $min-padding;
    }
  }

  &__left,
  &__right {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__left {
    justify-content: flex-start;
  }

  &__right {
    justify-content: flex-end;
  }

  &__icon {
    width: 30px;
    height: 30px;
    & * {
      fill: $primary-color;
      stroke: $primary-color;
    }

    @include tablet {
      width: 50px;
      height: 50px;
    }
  }
}

@supports (height: 100dvh) {
  .header {
    height: 8dvh;

    @include tablet {
      height: 10dvh;
    }
  }
}
