@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.input-text {
  @include btn-styling;
  & {
    justify-content: start;
    gap: 1rem;
    position: relative;
    width: 100%;
    max-width: 67.5rem;
    border-radius: 4px;
    gap: calc($min-padding / 4);
    height: 2.5rem;
    overflow: visible;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &--error {
    border-color: $color-error;
  }
  &__error {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    background-color: $color-background-error;
    color: $color-error;
    border: 1px solid $color-border-error;
    padding: 0.5rem;
    border-radius: 5px;
    z-index: 1;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 0.5rem;
    }
  }

  &:has(> .input-text__input:focus) {
    border: 2px solid $light-color;
  }

  &__input {
    height: 100%;
    width: 90%;
    padding: 0px 12px;
    border: none;
    background: transparent;

    &::placeholder {
      font-size: 1rem;
      opacity: 0.8;
      background: transparent;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__search {
    background-color: $secondary-background-color;
    color: $secondary-color;
    box-shadow: rgba(205, 172, 210, 0.2) 0px 0px 2px 2px;
    border: 0px;
    border-radius: $border-radius;
    max-width: 30%;
    min-width: 5rem;
    height: 1.5rem;
    padding: calc($min-padding/2);
    &:hover {
      background-color: #debae3;
    }
  }

  &__search-icon {
    margin-left: 0.3rem;
    height: 1.5rem;
    width: 1.5rem;
    & * {
      fill: $primary-color;
    }
  }

  &__autocomplete {
    display: none;
    &--active {
      @include flex(start);
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $secondary-background-color;
      color: $secondary-color;
      box-shadow: $primary-background-btn-color 0 15px 30px -5px;
      border-radius: 5px;
      max-height: 150px;
      overflow-y: auto;
      z-index: 1;
    }
  }

  &__options {
    width: 100%;
    padding: calc($min-padding / 2);

    &:hover {
      background-color: #debae3;
    }
  }
}
