@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-traveller {
  justify-content: start;
  padding-bottom: 0;
}

.bottom-navigation--travel {
  position: fixed;
  width: 100vw;
  bottom: 0;
}
