@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.map {
  &-section {
    position: relative;
    height: 77vh;
    width: 100%;
  }

  &__container {
    height: 77vh;
  }
}
