@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.bottom-navigation {
  @include flex(space-around);
  background-color: $nav-background-color;
  padding: 0.5rem 1rem;
  min-height: 8vh;

  &__item {
    text-align: center;
    text-decoration: none;
    position: relative;
    & svg * {
      fill: $nav-color;
      stroke: $nav-color;
    }
    &--active {
      & svg * {
        fill: $nav-active-color;
        stroke: $nav-active-color;
      }

      & > .bottom-navigation__label {
        color: $nav-active-color;
      }
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }

  &__label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    color: $nav-color;
  }

  &__count {
    position: absolute;
    top: -0.5rem;
    right: -0.75rem;
    font-size: 1.1rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: $primary-color;
    background-color: darkred;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    @include flex(center);
  }
}
