@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/animations";

.main {
  @include flex(center);
  flex-direction: column;
  gap: 2rem;
  max-width: 67.5rem;
}
.plan-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dates {
  &-container {
    @include btn-styling;
    & {
      @include flex(start);
      gap: 1rem;
      width: 100%;
      height: unset;
      border-radius: 4px;
    }
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    & * {
      stroke: $primary-color;
    }
  }
}

.react-responsive-modal {
  &-modal {
    &--save-trip {
      top: 50%;
    }
    &--dates {
      top: 20%;
    }
  }
}
