@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/animations";

.main {
  @include flex(center);
  flex-direction: column;
  gap: 1rem;
  max-width: 67.5rem;
}
.dates {
  &-container {
    @include flex(space-between);
    gap: 0.2rem;
    width: 90%;
    position: relative;
  }

  &__start,
  &__end {
    &-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 45%;
    }
    &-label {
      font-size: 0.9rem;
    }
    &-input {
      @include btn-styling;
      & {
        width: 100%;
        max-width: 18.75rem;
        border-radius: 4px;
        height: 2.5rem;
      }
      &::placeholder {
        background: transparent;
      }
    }
  }
}

.datepicker-container {
  position: absolute;
  top: 125%;
  left: 0;
  z-index: 1;
}
.rdp {
  &-root {
    --rdp-day-height: 1.25rem;
    --rdp-day-width: 1.25rem;
    --rdp-day_button-height: 1.25rem;
    --rdp-day_button-width: 1.25rem;
    --rdp-today-color: #5d1376;
    --rdp-accent-color: #5d1376;
    --rdp-nav_button-width: 1rem;
    --rdp-nav_button-height: 1rem;
    --rdp-nav-height: 1.2rem;
    --rdp-range_middle-background-color: #6e4176;

    padding: 1rem;
    background-color: $secondary-background-color;
    color: $secondary-color;
    box-shadow: $primary-background-btn-color 0 15px 30px -5px;
    border-radius: 5px;
    max-width: 20rem;
    @include tablet {
      min-width: 12.5rem;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $secondary-background-color; /* Bubble background color */
    }
  }
  &-day {
    padding: 0;
    &:hover {
      background-color: $light-color;
      color: $secondary-color;
      cursor: pointer;
      border-radius: 50%;
    }
  }
  &-caption_label {
    color: $secondary-color;
  }
  &-nav {
    gap: 0.5rem;
  }
  &-selected {
    font-size: unset;
    font-weight: unset;
    background-color: $primary-background-color;
    color: $primary-color;
    & > .rdp-day_button {
      border: none;
    }
  }
}
