@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.list-activities {
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.activity-modal--activity {
  top: 10%;
  min-height: 95%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
