@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.register-page {
  &__form {
    max-width: 600px;
    width: 100%;
    padding: 1rem;
    border: 1px solid $secondary-background-color;
    border-radius: 8px;
    background-color: $secondary-background-color;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: $secondary-color;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $primary-background-color;
    border-radius: 4px;
    font-size: 1rem;
    background-color: $primary-color;
    color: $secondary-color;
  }

  &__btn {
    margin: 0 auto;
  }

  &__error {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    background-color: $color-background-error;
    color: $color-error;
    border: 1px solid $color-border-error;
    padding: 0.5rem;
    border-radius: 5px;
    z-index: 1;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 0.5rem;
    }
  }
}
